NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Push Notifications (generated once, reuse the same pair forever)
NEXT_PUBLIC_VAPID_PUBLIC_KEY=BF0u93WsZ8tEe9os4TiTsf8rwyPnX60LC5kdVViYeT6Q24x0atn6K8eOuOnLZQwzfB8ZiPLGE3TpapMD8eBSa9c
VAPID_PRIVATE_KEY=OmzYH0beJ6KjATTTl0rz5bdavURoilNd1noaBQIxj84
VAPID_SUBJECT=mailto:youremail@example.com
